<!--<footer class="footer" style="position: absolute;bottom: 0;width: 100%;"><hr>-->
<!--<p><a href="http://wiki.dbpedia.org/">DBpedia association</a></p>-->
<!--</footer>-->
<div class="foo">
    <a style="padding-right: 10px;" href="http://dbpedia.org">DBpedia</a>
</div>