<div style="width: 500px">
<image style=";height:100px;" src="images/200px-dbpedia.png"></image> powered by DBpedia


<h1>GFS Data Browser <image style=";height:100px;" src="https://upload.wikimedia.org/wikipedia/commons/a/ae/73424-sync-symbol.svg"></image> </h1>
Prototype for <a href="https://meta.wikimedia.org/wiki/Grants:Project/DBpedia/GlobalFactSyncRE">Global Fact Sync Project</a> funded by the Wikimedia Foundation. <br>
Feedback via: <a href="https://meta.wikimedia.org/wiki/Grants_talk:Project/DBpedia/GlobalFactSyncRE">Discussion page</a>, <a href="https://github.com/dbpedia/gfs/issues">Github</a> or <a href="mailto:gfs@infai.org">gfs@infai.org</a>

</div>
<hr>
