<!DOCTYPE html>
<html lang="en">
<head>
    <%- include importhead.ejs%>
    <meta charset="utf-8">
    <title>Factual Consensus Finder</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--<link href="stylesheets/style.css" rel="stylesheet">-->
</head>
<body>
<%- include header.ejs%>
<%- body %>
<%- include footer.ejs%>
</body>
</html>
