<!--Sponsored-->
<% if( false ) {%>
    <div class="container" style="width: 70%;align-self: center">
        <div class="my-slider">
            <figure>
                <img src="images/aylien.jpg" height="72" width="72">
                <figcaption><br><a target="_blank" href="https://newsapi.aylien.com/demo#!/?published_at.start=NOW-30DAYS%2FDAY&published_at.end=NOW&entities.body.links.dbpedia%5B%5D=http:%2F%2Fdbpedia.org%2Freresource%2FSiemens&sort_by=recency">Find latest news about Siemens</a></figcaption>
            </figure>
            <figure>
                <img src="images/oc.png" height="72" width="72">
                    <figcaption><br><a target="_blank" href="https://opencorporates.com/companies/gb/00727817">More data available on OpenCorporates</a></figcaption>
            </figure>
            <figure>
                <img src="images/wikidata.png" height="72" width="102">
                <figcaption><br><a target="_blank" href="https://www.wikidata.org/wiki/Q81230">Edit on Wikidata</a></figcaption>
            </figure>
            <figure>
                <img src="images/rdfu.png" height="72" width="200">
                <figcaption><br><a target="_blank" href="">Test data with SHACL</a></figcaption>
            </figure>
        </div>
    </div>
<% } %>